@keyframes movecar{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(150px);
    }
    100%{
        transform: translateX(0);
    }
}
#car-container{
    position: relative;
    display: inline-block;
}
#car-container.is-moving{
    animation: movecar 8s infinite ;
}